= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBmtpykEj79ALb2D23rSCkivK3SiFmY3vM&callback=loadmap'.html_safe, :defer => "defer"
javascript:
  /*
   * Google Maps: Latitude-Longitude Finder Tool
   * http://salman-w.blogspot.com/2009/03/latitude-longitude-finder-tool.html
   */
  function loadmap() {
    // initialize map
    var lat = 0;
    var lng = 0;
    if (document.getElementById("project_latitud").value && document.getElementById("project_longitud").value) {

    var lat = parseFloat(document.getElementById("project_latitud").value)
    var lng = parseFloat(document.getElementById("project_longitud").value)
    }else{
      var lat = 4.709369;
      var lng = -74.071541;
    }


    var map = new google.maps.Map(document.getElementById("map-canvas"), {
      center: new google.maps.LatLng(lat, lng),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    // initialize marker
    var marker = new google.maps.Marker({
      position: map.getCenter(),
      draggable: true,
      map: map
    });
    // intercept map and marker movements
    google.maps.event.addListener(map, "idle", function () {
      marker.setPosition(map.getCenter());
      document.getElementById("map-output").innerHTML = "Latitud:  " + map.getCenter().lat().toFixed(6) + "<br>Longitud: " + map.getCenter().lng().toFixed(6);
      document.getElementById("project_latitud").value = map.getCenter().lat().toFixed(6);
      document.getElementById("project_longitud").value = map.getCenter().lng().toFixed(6);
    });
    google.maps.event.addListener(marker, "dragend", function (mapEvent) {
      map.panTo(mapEvent.latLng);
    });
    // initialize geocoder
    var geocoder = new google.maps.Geocoder();
    google.maps.event.addDomListener(document.getElementById("search-btn"), "click", function () {
      geocoder.geocode({address: document.getElementById("search-txt").value}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var result = results[0];
          document.getElementById("search-txt").value = result.formatted_address;
          if (result.geometry.viewport) {
            map.fitBounds(result.geometry.viewport);
          } else {
            map.setCenter(result.geometry.location);
          }
        } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
          alert("Sorry, geocoder API failed to locate the address.");
        } else {
          alert("Sorry, geocoder API failed with an error.");
        }
      });
    });
    google.maps.event.addDomListener(document.getElementById("search-txt"), "keydown", function (domEvent) {
      if (domEvent.which === 13 || domEvent.keyCode === 13) {
        google.maps.event.trigger(document.getElementById("search-btn"), "click");
      }
    });
    // initialize geolocation
    if (navigator.geolocation) {
      google.maps.event.addDomListener(document.getElementById("detect-btn"), "click", function () {
        navigator.geolocation.getCurrentPosition(function (position) {
          map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        }, function () {
          alert("Sorry, geolocation API failed to detect your location.");
        });
      });
      document.getElementById("detect-btn").disabled = false;
    }
  }


= simple_form_for @project, html: { class: 'project-form w-form' } do |form|
  .w-section.section
    .w-container
      .w-row
        .w-col.w-col-10.w-col-push-1
          .w-form
              = @project.display_errors(:basics)
              - if (current_user && current_user.admin?)
                = form.input :user_id, as: :string, 
                  wrapper: :two_columns,
                  wrapper_class: 'w-row u-marginbottom-20 card card-terciary medium',
                  label_wrapper_html: { class: 'w-col w-col-5' },
                  text_field_wrapper_html: { class: 'w-col w-col-7' },
                  input_html: { class: 'positive medium', required: true },
                  validation_text: false

              = form.input :name, as: :string, 
                wrapper: :two_columns,
                wrapper_class: 'w-row u-marginbottom-30 card card-terciary medium',
                label_wrapper_html: { class: 'w-col w-col-5 w-subcol' },
                text_field_wrapper_html: { class: 'w-col w-col-7 w-sub-col' },
                input_html: { class: 'positive medium', required: true, maxlength: Project::NAME_MAXLENGTH },
                validation_text: false

              = form.input :permalink, as: :string, 
                wrapper: :two_columns_with_postfix,
                wrapper_class: 'w-row u-marginbottom-30 card card-terciary medium',
                label_wrapper_html: { class: 'w-col w-col-5 w-subcol' },
                text_field_wrapper_html: { class: 'w-col w-col-7 w-sub-col' },
                input_html: { class: 'postfix positive medium', required: true },
                field_wrapper_html: { class: 'w-col w-col-8 w-col-small-6 w-col-tiny-6' },
                validation_text: false,
                preppend_text_wrapper_html: { class: 'w-col w-col-4 w-col-small-6 w-col-tiny-6 text-field prefix no-hover medium prefix-permalink' },
                preppend_input_text: 'www.homeparte.com/',
                preppend_input_text_wrapper_html: { class: 'fontcolor-secondary u-text-center fontsize-smallest' }

              = form.association :category, as: :select, 
                collection: Category.order(:name_pt),
                prompt: t('simple_form.prompts.project.category'),
                wrapper: :two_columns,
                wrapper_class: 'w-row u-marginbottom-30 card card-terciary medium',
                label_wrapper_html: { class: 'w-col w-col-5 w-subcol' },
                text_field_wrapper_html: { class: 'w-col w-col-7' },
                input_html: { class: 'w-select text-field positive medium', required: true },
                validation_text: false

              = form.hidden_field :latitud
              = form.hidden_field :longitud


              div id='map-search'
                input id="search-txt" type="text" value="" maxlength="100"
                input id="search-btn" type="button" value="Encontrar direccion"
                input id="detect-btn" type="button" value="Detectar Ubicación"
              div id='map-canvas'
              div id='map-output'

              #city-input-wrapper data-searchpath=auto_complete_cities_path
                .w-row.u-marginbottom-30.card.card-terciary.medium
                  .w-col.w-col-5.w-sub-col
                    label.fontweight-semibold.fontsize-base=t('.city')
                    label.field-label.fontsize-smallest.fontcolor-secondary=t('simple_form.hints.project.city')
                  .w-col.w-col-7
                    = text_field_tag :city_name, ( @project.city.show_name if @project.city ), class: 'string optional w-input text-field w-input text-field positive city-search-input', autocomplete: "off"
                    input#project_city_id.w-hidden name="project[city_id]" type="text"
                    .table-outer.search-pre-result.w-hidden



    .section
      .w-container
        .w-row
          .w-col.w-col-4.w-col-push-4
            = hidden_field_tag 'anchor', 'basics'
            = form.button :submit, t('.form.submit'), class:'btn btn-large', id: 'basics-save'
