.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.contact')}
a.link-footer href="#{team_url}"  #{t('layouts.footer.links.team')}
a.link-footer href="http://facebook.com/HomeParte"  #{t('layouts.footer.links.facebook')}
a.link-footer href="http://twitter.com/homeparte"  #{t('layouts.footer.links.twitter')}
a.link-footer href="http://www.blog.homeparte.co"  #{t('layouts.footer.links.blog')}
a.link-footer href="#{jobs_url}"  #{t('layouts.footer.links.jobs')}

