- content_for :title, t('.title')
- categories = Category.with_projects.order(:name_pt).all
= render 'shared/header_big', overlayer: true

- if current_user
  #nearOfData data-state="#{current_user.address_state}"

= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'
= javascript_include_tag "https://code.jquery.com/jquery-1.11.0.min.js"
= javascript_include_tag "https://code.jquery.com/jquery-migrate-1.2.1.min.js"


= render 'home/slider'
= render 'home/channel'
= render 'home/definition'
= render 'home/process'
= render 'home/projects'
= render 'home/invest'
= render 'home/start'

= render 'shared/footer_big'


= javascript_include_tag "homeparte.js"
